.ui-item-renderer {
  padding: 10px;
  background-color: cornsilk;
}
.ui-item-renderer .ui-item-renderer-inner {
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
